@keyframes cta-animation {
    0% {
        bottom: 3rem; opacity: 1;
    }
    50% {
        bottom: 2rem; opacity: .2;
    }
    100% {
        bottom: 3rem; opacity: 1;
    }
}
@keyframes confetti-animation {
    0%{
        opacity: .2;
        background-size: 10%;
        background-position: center bottom;
    }

    100% {
        opacity: 1;
        background-size: 90%;
        background-position: center bottom;
    }
}
@keyframes one {
    0% {
        transform: rotate(0);
        width: 100%;
        top: 0;
        left: 0;
        }
    60% {
        transform: rotate(0);
        width: 100%;
        top: 50%; 
        left: 0;
        }
    100% {
        transform: rotate(45deg);
        width: 140%; 
        top: 50%;
        left: -3.5px;
    }
}
@keyframes one-out {
    0% {
        transform: rotate(45deg);
        top: 50%;
        width: 140%; 
        left: -3.5px;
    }
    60% {
        transform: rotate(0);
        top: 50%;
        width: 100%;
        left: 0;
    }
    100% {
        transform: rotate(0);
        top: 0;
        width: 100%;
        left: 0;
    }
}
@keyframes two {
    0% {
        left: 0%;
    }
    60% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}
@keyframes two-out {
    0% {
        left: 100%;
    }
    60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}
@keyframes three {
    0% {
        transform: rotate(0);
        width: 100%;
        bottom: 0px;
        left: 0px;
        }
    60% {
        transform: rotate(0);
        width: 100%;
        bottom: 50%;
        left: 0px;
        }
    100% {
        transform: rotate(-45deg);
        width: 140%; 
        bottom: 10px;
        left: -3.5px;
    }
}
@keyframes three-out {
    0% {
        transform: rotate(-45deg);
        bottom: 50%;
        width: 140%; 
        left: 0px;
    }
    60% {
        transform: rotate(0);
        bottom: 50%;
        width: 100%;
        left: 0px;
    }
    100% {
        transform: rotate(0);
        bottom: 0px;
        width: 100%;
        left: 0px;
    }
}