*{
	margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
	text-decoration:none;
	background: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, a, span, button, img {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input {
	outline: none; 
	border: none;
}

.clearfix {zoom:1;}
.clearfix::after {
    content:"";
    display:block;
    clear:both; }

html{font-size: 10px;}

a, span, p, button, label, h1, h2, h3, h4, h5, h6, figcaption, li{
    color: #454f5d; 
	font-size: 1.6rem;
	font-family: 'Noto Sans KR', 'Roboto', sans-serif; 
	letter-spacing: -.05rem;
}

img{width: 100%;}

a, button {cursor: pointer;}