html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .wrap .logo {
  width: 78px;
  text-indent: -9999px;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

header .wrap .menu-toggle {
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  position: relative;
  margin: 1rem .5rem;
  overflow: hidden;
}

header .wrap .menu-toggle span {
  width: 100%;
  height: 2px;
  background-color: #999;
  display: block;
  position: absolute;
  left: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

header .wrap .menu-toggle .one {
  top: 0px;
  width: 140%;
}

header .wrap .menu-toggle.on .one {
  -webkit-animation: one .2s;
          animation: one .2s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .wrap .menu-toggle.toggle02 .one {
  width: 140%;
  top: 9px;
  left: -4px;
}

header .wrap .menu-toggle.toggle03 .one {
  -webkit-animation: one-out .2s;
          animation: one-out .2s;
  top: 0;
  width: 100%;
  left: 0;
}

header .wrap .menu-toggle .two {
  top: calc(50% - 1px);
}

header .wrap .menu-toggle.on .two {
  -webkit-animation: two .2s;
          animation: two .2s;
  top: calc(50% - 1px);
  left: 100%;
}

header .wrap .menu-toggle.toggle03 .two {
  -webkit-animation: two-out .2s;
          animation: two-out .2s;
  top: calc(50% - 1px);
  left: 0%;
}

header .wrap .menu-toggle .three {
  bottom: 0%;
  width: 140%;
  left: -3.5px;
}

header .wrap .menu-toggle.on .three {
  -webkit-animation: three .2s;
          animation: three .2s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .wrap .menu-toggle.toggle02 .three {
  bottom: 9px;
  width: 140%;
  left: -4px;
}

header .wrap .menu-toggle.toggle03 .three {
  -webkit-animation: three-out .2s;
          animation: three-out .2s;
  bottom: 0px;
  width: 100%;
  left: 0px;
}

header .wrap .menu {
  width: 100%;
  position: absolute;
  top: -250px;
  right: 0;
  z-index: -1;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .wrap .menu ul {
  background: #fff;
  padding-bottom: 1rem;
}

header .wrap .menu ul li {
  height: 48px;
}

header .wrap .menu ul a {
  width: 100%;
  height: 100%;
  padding-left: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 48px;
  font-weight: 300;
}

header .wrap .menu ul a:hover {
  background: #eee;
}

header.fix {
  background-color: #fff;
}

header.fix .menu {
  background: #fff;
}

header .menu-toggle.toggle02 + .menu {
  -webkit-animation-name: menu-down;
          animation-name: menu-down;
}

header .menu-toggle.toggle03 + .menu {
  -webkit-animation-name: menu-up;
          animation-name: menu-up;
}

#moblie-cta {
  display: none;
}

#main .pc-cta {
  display: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  min-height: 50vh;
}

section h3 {
  font-weight: 600;
  font-size: 2.4rem;
}

section h3 + p, section p + a {
  margin-top: 3rem;
}

section a {
  color: #3182f6;
  font-weight: 700;
}

section a.plus::after {
  content: ">";
  display: inline-block;
  color: #3182f6;
  margin-left: 1rem;
}

section a.round-btn {
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 3rem;
  border: 1px solid #333;
  font-weight: 600;
  background-color: transparent;
  display: inline-block;
  color: #333;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

section a.round-btn:hover {
  background-color: #333;
  color: #fff;
}

section a.round-btn:hover::after {
  color: #fff;
}

section a.round-btn::after {
  color: #333;
}

section .remark {
  font-size: 1.4rem;
}

#main {
  background-image: url(../images/hero-handset-new.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#main h2 {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  padding-top: 8rem;
}

#main > a {
  width: 2rem;
  -webkit-animation: cta-animation 1s ease-in-out infinite;
          animation: cta-animation 1s ease-in-out infinite;
  position: absolute;
  left: calc(50% - 1rem);
  bottom: 2rem;
}

#main > a img {
  width: 100%;
  height: auto;
}

#award {
  background-image: url(../images/confetti.png);
  background-size: 90%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #fafafa;
}

#award ul {
  width: 100%;
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#award ul a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5rem;
}

#award ul a:hover img {
  opacity: 1;
}

#award ul a img {
  opacity: .7;
  -webkit-transition: .2s;
  transition: .2s;
}

#award p {
  margin-top: 4rem;
}

#award p span {
  font-size: 3rem;
}

#award p span span {
  display: inline-block;
}

#award a.plus {
  margin: 0;
  border-color: #768399;
  color: #768399;
}

#award a.plus::after {
  color: #768399;
}

#award a.plus:hover {
  border-color: #303d51;
  background-color: #303d51;
  color: #fff;
}

#award a.plus:hover::after {
  color: #fff;
}

#award .remark {
  margin-top: 5rem;
}

#toss-card {
  padding-top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#eff0f0), to(white));
  background: linear-gradient(180deg, #eff0f0 0%, white 100%);
}

#account {
  overflow: inherit;
}

#account .wrap {
  width: 100%;
}

#account .wrap > div {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  padding: 2rem;
  margin-top: 2rem;
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.1);
}

#account .wrap > div .money {
  font-weight: 600;
}

#account .wrap > div figure {
  max-width: 2.4rem;
}

section .tab-area {
  position: relative;
  width: 100%;
  height: 70vw;
  overflow: hidden;
}

section .tab-area figure img {
  position: absolute;
  top: 0;
  left: calc( 50% - 35vw);
  z-index: 10;
  width: 76vw;
}

section .tab-area .inner-contents {
  position: absolute;
  top: 11vw;
  left: calc(50% - 17.5vw);
  width: 40vw;
  height: 100%;
  overflow: hidden;
}

section .tab-area .inner-contents img {
  width: 40vw;
  z-index: -1;
  -webkit-transition: right .2s, left .2s;
  transition: right .2s, left .2s;
  position: absolute;
  top: 11.5vw;
  left: -50vw;
}

section .tab-area .inner-contents img.on {
  top: 4px;
  left: 0;
  z-index: 1;
}

section .tab-area + .tab-box {
  margin-top: 20px;
  width: 100%;
}

section .tab-area + .tab-box .menu {
  width: 100%;
  margin: 0 auto;
}

section .tab-area + .tab-box .menu ul {
  width: 50vw;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

section .tab-area + .tab-box .menu ul li {
  width: 33%;
  text-align: center;
  padding: .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #888;
  -webkit-transition: color .2s, font-weight .2s;
  transition: color .2s, font-weight .2s;
}

section .tab-area + .tab-box .menu ul li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #444;
  -webkit-transition: width .2s;
  transition: width .2s;
  margin-top: 1rem;
}

section .tab-area + .tab-box .menu ul li.on {
  color: #444;
  font-weight: 500;
  width: 33%;
}

section .tab-area + .tab-box .menu ul li.on::after {
  width: 100%;
}

section .tab-area + .tab-box .menu ul li:hover {
  color: #444;
  font-weight: 500;
}

section .tab-area + .tab-box .message {
  width: 100%;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  margin-top: 3rem;
}

section .tab-area + .tab-box .message + a {
  margin-top: 3rem;
}

#toss-pay .video-wrap {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 410px;
  margin: 5rem 0;
}

#toss-pay .video-wrap img {
  width: 364px;
  position: absolute;
  top: 5px;
  left: 22px;
  z-index: 1;
}

#toss-pay .video-wrap video {
  position: absolute;
  top: 61px;
  left: -1px;
  width: 100%;
  height: 100%;
}

#card .wrap {
  width: 100%;
}

#card .wrap figure {
  max-width: 4rem;
  width: 30%;
}

#card .wrap .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 2rem auto 0;
  border-radius: 15px;
  padding: 2rem 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.1);
}

#card .wrap .box .text-box {
  text-align: left;
  width: 70%;
}

#footer {
  background: #f9fafb;
  padding: 5rem;
}

#footer h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

#footer .service ul {
  margin-top: 3rem;
}

#footer .service ul:first-child {
  margin-top: 0;
}

#footer .service ul li {
  height: 3rem;
  line-height: 3rem;
}

#footer a {
  display: inline;
  font-weight: 300;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .sns-wrap li img {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  opacity: .7;
}

#footer .sns-wrap li:hover img {
  opacity: 1;
}

#footer .info {
  margin-top: 3rem;
}

#footer .info ul {
  margin-top: 3rem;
}

#footer .info a, #footer .info span {
  height: 3rem;
  line-height: 3rem;
}

#footer .info b, #footer .info a, #footer .info span {
  font-size: 1.4rem;
}

#footer .sns-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .sns-wrap li {
  margin-left: 1rem;
  width: 35px;
  height: 35px;
}

#footer .sns-wrap li:first-child {
  margin-left: 0rem;
}

@media screen and (min-width: 768px) {
  header .wrap {
    max-width: 1000px;
    margin: 0 auto;
  }
  header .wrap .logo {
    left: 10%;
    background-image: url(../images/logo-white.svg);
  }
  header .wrap .menu-toggle {
    display: none;
  }
  header .wrap .menu {
    margin: 0;
    position: inherit;
    right: 3%;
    max-width: 500px;
  }
  header .wrap .menu ul {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    background-color: transparent;
  }
  header .wrap .menu ul li {
    height: 60px;
  }
  header .wrap .menu ul li a {
    padding: 0 1rem;
    line-height: 60px;
  }
  header .wrap .menu ul li a:hover {
    background: transparent;
  }
  header.fix .logo {
    background-image: url(../images/logo.svg);
  }
  header.fix .menu {
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    background-color: #fff;
  }
  #moblie-cta {
    display: none;
  }
  section {
    min-height: 90vh;
    text-align: left;
  }
  section h3 {
    font-size: 5rem;
  }
  section h3 + p {
    font-size: 2rem;
  }
  #main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(../images/hero.png);
  }
  #main h2 {
    color: #fff;
    font-size: 5rem;
    text-align: left;
    padding-top: 0;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
  #main .pc-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 7rem;
    margin: 2rem auto 0;
    width: 80%;
    max-width: 1000px;
  }
  #main .pc-cta li {
    margin-left: 2rem;
    -webkit-transition: margin .2s;
    transition: margin .2s;
  }
  #main .pc-cta li:first-child {
    margin-left: 0rem;
  }
  #main .pc-cta li:hover {
    margin-bottom: .2rem;
  }
  #main .pc-cta li a {
    color: #fff;
    font-size: 1.8rem;
    border: 1px solid #fff;
    border-radius: .5rem;
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main .pc-cta li a img {
    width: auto;
    margin-right: 1rem;
  }
  .flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
  #award > * {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
  #award ul {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #award .flex-box {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #award p {
    text-align: left;
    margin-top: 5rem;
  }
  #award p.remark {
    margin-top: 7rem;
  }
  #award p span {
    font-size: 5rem;
  }
  #toss-card {
    background-color: #f0f1f1;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 752px;
    min-height: initial;
  }
  #toss-card figure {
    position: absolute;
    top: 0;
    width: 1330px;
    height: 752px;
    right: 31vw;
  }
  #toss-card .text-box {
    text-align: left;
    position: inherit;
    width: 50%;
    margin-left: 50%;
  }
  #account .text-box {
    width: 100%;
  }
  #account .wrap > div {
    width: 80%;
    margin-top: 30px;
  }
  #footer {
    padding: 50px;
  }
  #footer > div {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
  }
  #footer .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #footer .service ul {
    margin-top: 0;
    margin-left: 40px;
  }
  #footer .service ul:first-child {
    margin-left: 0;
  }
  #footer .service ul li {
    height: auto;
  }
  #footer .info .matters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=style_scss.css.map */