@charset "urf-8";
@import "animation.css";

html {scroll-behavior: smooth;}

.bgFFF {background-color: #fff;}

header {
    width: 100%; 
    height: 60px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 10;
    transition: background-color .2s; 
}
header.mo-toggle-on {
    background-color: #fff;
    transition: background-color .1s; 
}
header .wrap {
    height: 60px;
    padding: 0 2rem;
    box-sizing: border-box;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
header .logo {
    width: 78px;
    text-indent: -9999px;
    background-image: url(../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

header .menu-toggle {
    border: none; 
    outline: none;
    width: 20px;
    height: 20px;
    position: relative;
    margin: 10px;
    overflow: hidden;
}

header .menu-toggle span{
    width: 100%; 
    height: 2px; 
    background-color: #999; 
    display: block;
    position: absolute;
    left: 0;
    transform-origin: center center;
}

button.on .one {
    animation: one .5s;
    transform: rotate(45deg);
    top: 10px;
    width: 140%;
    left: -3.5px;
}
button .one {
    animation: one-out .5s;
    top: 0;
    width: 100%;
    left: 0;
}


button .two{
    animation: two-out .5s;
    top: calc(50% - 1px);
    left: 0%;
}
button.on .two{
    animation: two .5s;
    top: calc(50% - 1px);
    left: 100%;
}

button.on .three {
    animation: three .5s;
    transform: rotate(-45deg);
    bottom: 50%;
    width: 140%;
    left: -3.5px;
}
button .three {
    animation: three-out .5s;
    bottom: 0px;
    width: 100%;
    left: 0px;
}


header .menu {
    width: 100%; 
    position: absolute; 
    top: -20px;
    right: 0; 
    transition: top .2s ease-in-out;
    z-index: -1;
    visibility: hidden;
}
header .menu ul {
    background: #fff; 
    padding-bottom: 1rem;
    visibility: hidden;
}
header .menu ul li {height: 48px;}
header .menu li a {
    width: 100%; 
    height: 100%; 
    padding-left: 4rem; 
    box-sizing: border-box; 
    line-height: 48px;
    font-weight: 300;
}
header .menu li a:hover {background: #eee;}

header.fix .menu{background: #fff;}
header .menu-toggle.on+.menu {
    top: 60px;
    visibility: visible;
}
header .menu-toggle.on+.menu ul{
    visibility: visible;
}

#moblie-cta {
    position: fixed; 
    left: calc(50% - 40%); 
    border-radius: 1rem;
    background: #3182f6; 
    width: 80%; height: 56px; 
    line-height: 56px; 
    box-sizing: border-box;
    font-size: 1.8rem; 
    color: #fff; 
    font-weight: 500; 
    text-align: center;
    z-index: 10; 
    transition: all .2s;
}
header.fix+#moblie-cta {
    width: 100%; 
    left: 0; 
    border-radius: 0;
}
header.fix ~footer {margin-bottom: 56px;}

section {
    padding: 8rem 0; 
    box-sizing: border-box; 
    overflow: hidden; 
    text-align: center;
    background-color: #fff;
}
section:nth-child(even) {background-color: #eee;}
section h3 {
    font-weight: 600; 
    font-size: 2.4rem;
}
section h3+p, section p+a {margin-top: 3rem;}
section a {
    color: #3182f6; 
    font-weight: 500;
}
section a::after{
    content:">";
    display: inline-block;
    color: #3182f6;
    margin-left: 1rem;
}
.round-btn {
    font-size: 1.4rem; 
    padding: 1rem 2rem; 
    text-align: center;
    border-radius: 2rem; 
    border: 1px solid #333; 
    font-weight: 600;
    background-color: transparent;
    display: inline-block; 
    color: #333; 
    transition: background-color .2s;
}
.round-btn:hover {
    background-color: #333; 
    color: #fff;
}
.round-btn::after {color: #333;}
.round-btn:hover::after {color: #fff;}

#main {
    background-image: url(../images/hero-handset-new.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    width: 100%; 
    height: 100vh; 
    position: relative; 
    padding: 0;
}
#main h2 {
    font-size: 3rem; 
    font-weight: 600; 
    color: #000; 
    text-align: center; 
    padding-top: 10rem;
}
#main .pc-cta {display: none;}
#main >a {
    width: 2rem; 
    animation: cta-animation 1s ease-in-out infinite;
    position: absolute; 
    left: calc(50% - 1rem); 
    bottom: 2rem;}
#main >a img {
    width: 100%; 
    height: auto;
}
#award {
    background-image: url(../images/confetti.png); 
    background-size: 90%;
    background-position: center bottom; 
    background-repeat: no-repeat;
    /* animation: confetti-animation 1s ease-in-out; */
}

#award ul {
    width: 90%; 
    margin: 0 auto;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
}
#award ul li {max-width: 150px;}
#award ul li a {
    box-sizing: border-box; 
    padding: .5rem;
}
#award ul li a:hover img {opacity: 1;}
#award ul li a img {
    opacity: .7; 
    transition: .2s
}
#award p span {
    font-size: 2.4rem; 
    margin-top: .5rem;
}
#award p span span {display: inline-block;}

section .tab-area figure {
    overflow: hidden; 
    width: 90%; 
    margin: 0 auto; 
    position: relative; 
    height: 410px;
}
section .tab-area figure >img {
    width: 400px; 
    margin: 0 auto;
}
section .tab-area .inner-contents {
    display: flex; 
    justify-content: center;
    width: 100%; 
    height: 100%; 
} 
section .tab-area .inner-contents img {
    width: 208px; 
    z-index: -1; 
    transition: right .2s;
    position: absolute; 
    top:  61px; 
    right: -120px;
}
section .tab-area .inner-contents img.on {
    right: calc(50% - 101px);
    z-index: 1;
}
/* trnasition: right, z-index */
section .tab-area .tab-menu {
    Width: 70%; 
    margin: 0 auto;
}
section .tab-area .tab-menu ul {
    width: 100%; display: flex; 
    justify-content: space-between; 
    margin-top: 1rem;
}
section .tab-area .tab-menu ul li {
    padding: .5rem; 
    box-sizing: border-box; 
    color: #888; 
    transition: color .2s, font-weight .2s;
}
section .tab-area .tab-menu ul li:hover {
    color: #444;
    font-weight: 500;
}
section .tab-area .tab-menu ul li.on {
    color: #444; 
    border-bottom: 2px solid #444; 
    font-weight: 500;
}
section .tab-area .tab-message {
    width: 100%; 
    text-align: center; 
    margin-top: 3rem;
}
section .tab-message+a {margin-top: 3rem;}
/* position과 z-index */
.management .wrap >div {
    background-color: rgb(247, 255, 231); 
    width: 50%; 
    margin: 0 auto; 
    border-radius: 2rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    box-sizing: border-box; 
    padding: 2rem; 
    margin-top: 2rem;
}
.management .wrap >div figure{max-width: 2.4rem;}

#toss-pay .video-wrap {
    overflow: hidden; 
    width: 90%; 
    margin: 0 auto; 
    position: relative; 
    height: 410px;
}
#toss-pay figure >img {
    width: 400px; 
    margin: 0 auto;
}
#toss-pay .video-wrap >video{
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
    height: 100%;
}
#toss-pay figure{margin: 5rem 0;}

#card .wrap figure { max-width: 4rem;}
#card .wrap >div {
    justify-content: center;
}
#card .wrap >div >div {
    width: 70%;
    padding-left: 3rem;
    text-align: left;
}

#footer {
    background: #f9fafb; 
    padding: 5rem;
}
#footer a {display: inline-block;}
#footer a:hover {text-decoration: underline;}

#footer .service ul {margin-top:3rem;}
#footer .service ul:first-child {margin-top:0;}
#footer h3 {
    font-weight: 500; 
    margin-bottom: 1.5rem;
}
#footer .service ul li {
    height: 3rem; 
    line-height: 3rem;
}

#footer .sns-wrap li:hover img {opacity: 1;}
#footer .sns-wrap li img {
    transition: opacity .2s; 
    opacity: .7;
}

#footer .info {margin-top: 3rem;}
#footer .info ul {margin-top: 3rem;}
#footer .info a, #footer .info span {
    height: 3rem; 
    line-height: 3rem;
}
#footer .info a, #footer .info span, #footer .info b {font-size: 1.4rem;}

#footer .sns-wrap {display: flex;}
#footer .sns-wrap li {
    margin-left: 1rem; 
    width: 35px; 
    height: 35px;
}
#footer .sns-wrap li:first-child {margin-left: 0rem;}

@media all and (min-width:768px) {
    header.fix {
        background-color: #fff;
        transition: background-color .2s;
    }
    header .logo {
        left: 10%;
        background-image: url(../images/logo-white.svg);
    }
    header.fix .logo {background-image: url(../images/logo.svg);}
    header .menu-toggle {display: none;}
    #header .menu {top: 0;}
    header .menu {
        right: 3%;
        max-width: 500px;
    }
    header .menu ul {
        visibility: visible;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        background-color: transparent;
    }
    header.fix .menu {
        transition: background-color .2s;
        background-color: #fff;
    }
    header .menu li a {padding: 0 1rem;}
    header .menu li a:hover {background: transparent;}


    #moblie-cta {display: none;}

    #main {
        background-image: url(../images/hero.png);
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: flex-start;
    }
    #main h2 {
        color: #fff; 
        font-size: 5rem; 
        text-align: left;
        padding-top: 0;
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }

    #main .pc-cta {
        display: flex; 
        align-items: flex-end;
        height: 7rem;
        margin: 2rem auto 0;
        width: 80%;
        max-width: 1000px;
    }
    #main .pc-cta li:first-child {margin-left: 0rem;}
    #main .pc-cta li {margin-left: 2rem; transition: margin .2s;}
    #main .pc-cta li:hover{margin-bottom: .2rem;}
    #main .pc-cta li a {
        color: #fff; 
        font-size: 2rem; 
        border: 1px solid #fff; 
        border-radius: .5rem;
        padding: 1rem 2rem; 
        display: flex; 
        align-items: center;
    }
    #main .pc-cta li a img {width: auto;}
}