html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .wrap .logo {
  width: 78px;
  text-indent: -9999px;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

header .wrap .menu-toggle {
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  position: relative;
  margin: 1rem .5rem;
  overflow: hidden;
}

header .wrap .menu-toggle span {
  width: 100%;
  height: 2px;
  background-color: #999;
  display: block;
  position: absolute;
  left: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

header .wrap .menu-toggle .one {
  top: 0px;
  width: 140%;
}

header .wrap .menu-toggle.on .one {
  -webkit-animation: one .2s;
          animation: one .2s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .wrap .menu-toggle.toggle02 .one {
  width: 140%;
  top: 9px;
  left: -4px;
}

header .wrap .menu-toggle.toggle03 .one {
  -webkit-animation: one-out .2s;
          animation: one-out .2s;
  top: 0;
  width: 100%;
  left: 0;
}

header .wrap .menu-toggle .two {
  top: calc(50% - 1px);
}

header .wrap .menu-toggle.on .two {
  -webkit-animation: two .2s;
          animation: two .2s;
  top: calc(50% - 1px);
  left: 100%;
}

header .wrap .menu-toggle.toggle03 .two {
  -webkit-animation: two-out .2s;
          animation: two-out .2s;
  top: calc(50% - 1px);
  left: 0%;
}

header .wrap .menu-toggle .three {
  bottom: 0%;
  width: 140%;
  left: -3.5px;
}

header .wrap .menu-toggle.on .three {
  -webkit-animation: three .2s;
          animation: three .2s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .wrap .menu-toggle.toggle02 .three {
  bottom: 9px;
  width: 140%;
  left: -4px;
}

header .wrap .menu-toggle.toggle03 .three {
  -webkit-animation: three-out .2s;
          animation: three-out .2s;
  bottom: 0px;
  width: 100%;
  left: 0px;
}

header .wrap .menu {
  width: 100%;
  position: absolute;
  top: -250px;
  right: 0;
  z-index: -1;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .wrap .menu ul {
  background: #fff;
  padding-bottom: 1rem;
}

header .wrap .menu ul li {
  height: 48px;
}

header .wrap .menu ul a {
  width: 100%;
  height: 100%;
  padding-left: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 48px;
  font-weight: 300;
}

header .wrap .menu ul a:hover {
  background: #eee;
}

header.fix {
  background-color: #fff;
}

header.fix .menu {
  background: #fff;
}

header .menu-toggle.toggle02 + .menu {
  -webkit-animation-name: menu-down;
          animation-name: menu-down;
}

header .menu-toggle.toggle03 + .menu {
  -webkit-animation-name: menu-up;
          animation-name: menu-up;
}

#moblie-cta {
  display: none;
}

#main .pc-cta {
  display: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  min-height: 50vh;
}

section h3 {
  font-weight: 600;
  font-size: 2.4rem;
}

section h3 + p, section p + a {
  margin-top: 3rem;
}

section a {
  color: #3182f6;
  font-weight: 700;
}

section a.plus::after {
  content: ">";
  display: inline-block;
  color: #3182f6;
  margin-left: 1rem;
}

section a.round-btn {
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 3rem;
  border: 1px solid #333;
  font-weight: 600;
  background-color: transparent;
  display: inline-block;
  color: #333;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

section a.round-btn:hover {
  background-color: #333;
  color: #fff;
}

section a.round-btn:hover::after {
  color: #fff;
}

section a.round-btn::after {
  color: #333;
}

section .remark {
  font-size: 1.4rem;
}

#main {
  background-image: url(../images/hero-handset-new.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#main h2 {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  padding-top: 8rem;
}

#main > a {
  width: 2rem;
  -webkit-animation: cta-animation 1s ease-in-out infinite;
          animation: cta-animation 1s ease-in-out infinite;
  position: absolute;
  left: calc(50% - 1rem);
  bottom: 2rem;
}

#main > a img {
  width: 100%;
  height: auto;
}

#award {
  background-image: url(../images/confetti.png);
  background-size: 90%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #fafafa;
}

#award ul {
  width: 100%;
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#award ul a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5rem;
}

#award ul a:hover img {
  opacity: 1;
}

#award ul a img {
  opacity: .7;
  -webkit-transition: .2s;
  transition: .2s;
}

#award p {
  margin-top: 4rem;
}

#award p span {
  font-size: 3rem;
}

#award p span span {
  display: inline-block;
}

#award a.plus {
  margin: 0;
  border-color: #768399;
  color: #768399;
}

#award a.plus::after {
  color: #768399;
}

#award a.plus:hover {
  border-color: #303d51;
  background-color: #303d51;
  color: #fff;
}

#award a.plus:hover::after {
  color: #fff;
}

#award .remark {
  margin-top: 5rem;
}

#toss-card {
  padding-top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#eff0f0), to(white));
  background: linear-gradient(180deg, #eff0f0 0%, white 100%);
}

#account .wrap {
  width: 100%;
}

#account .wrap > div {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7ffe7;
  width: 50%;
  border-radius: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  margin-top: 2rem;
}

#account .wrap > div figure {
  max-width: 2.4rem;
}

section .tab-area {
  position: relative;
  width: 100%;
  height: 70vw;
  overflow: hidden;
}

section .tab-area figure img {
  position: absolute;
  top: 0;
  left: calc( 50% - 35vw);
  z-index: 10;
  width: 76vw;
}

section .tab-area .inner-contents img {
  width: 40vw;
  z-index: -1;
  -webkit-transition: right .2s;
  transition: right .2s;
  position: absolute;
  top: 11.5vw;
  right: -50vw;
}

section .tab-area .inner-contents img.on {
  right: calc(50% - 22.5vw);
  z-index: 1;
}

section .tab-area + .tab-box {
  margin-top: 20px;
  width: 100%;
}

section .tab-area + .tab-box .menu {
  width: 100%;
  margin: 0 auto;
}

section .tab-area + .tab-box .menu ul {
  width: 100%;
  margin: 0 auto;
  width: 50vw;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .tab-area + .tab-box .menu ul li {
  width: 33%;
  padding: .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #888;
  -webkit-transition: color .2s, font-weight .2s;
  transition: color .2s, font-weight .2s;
}

section .tab-area + .tab-box .menu ul li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #444;
  -webkit-transition: width .2s;
  transition: width .2s;
  margin-top: 1rem;
}

section .tab-area + .tab-box .menu ul li.on {
  color: #444;
  font-weight: 500;
  width: 33%;
}

section .tab-area + .tab-box .menu ul li.on::after {
  width: 100%;
}

section .tab-area + .tab-box .menu ul li:hover {
  color: #444;
  font-weight: 500;
}

section .tab-area + .tab-box .message {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

section .tab-area + .tab-box .message + a {
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 15px;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 0 15px;
  }
}
/*# sourceMappingURL=style_scss.css.map */