@charset "UTF-8"; 

@mixin center {
    width: 100%;
    margin: 0 auto;
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin w_50 {width: 50%;}

// Breakpoints
$desktop : 1024px;
$tablet : 768px;
$mobile : 480px;

// color
$ci-color :#3182f6;
$white : #fff;

html {scroll-behavior: smooth;}

header {
    width: 100%; 
    height: 60px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 100;
    transition: background-color .2s; 
    .wrap {
        @include flex;
        height: 60px;
        padding: 0 3rem;
        box-sizing: border-box;
        .logo {
            width: 78px;
            text-indent: -9999px;
            background: {
                image: url(../images/logo.svg);
                size: contain;
                repeat: no-repeat;
                position: center center;
            }
        }
        .menu-toggle {
            border: none; 
            outline: none;
            width: 20px;
            height: 20px;
            position: relative;
            margin: 1rem .5rem;
            overflow: hidden;
            span{
                width: 100%; 
                height: 2px; 
                background-color: #999; 
                display: block;
                position: absolute;
                left: 0;
                transform-origin: center center;
            }     
            & .one {
                top: 0px;
                width: 140%;
            } 
            &.on .one {
                animation: one .2s;
                transform: rotate(45deg);
            }
            &.toggle02 .one {
                width: 140%;
                top: 9px;
                left: -4px;
            }
            &.toggle03 .one {
                animation: one-out .2s;
                top: 0;
                width: 100%;
                left: 0;
            }
            & .two {top: calc(50% - 1px);}
            &.on .two{
                animation: two .2s;
                top: calc(50% - 1px);
                left: 100%;
            }
            &.toggle03 .two{
                animation: two-out .2s;
                top: calc(50% - 1px);
                left: 0%;
            }
            & .three {
                bottom: 0%;
                width: 140%;
                left: -3.5px;
            }
            &.on .three {
                animation: three .2s;
                transform: rotate(-45deg);
            }
            &.toggle02 .three {
                bottom: 9px;
                width: 140%;
                left: -4px;
            }
            &.toggle03 .three {
                animation: three-out .2s;
                bottom: 0px;
                width: 100%;
                left: 0px;
            }
        }
        .menu {
            width: 100%; 
            position: absolute; 
            top: -250px;
            right: 0; 
            z-index: -1;
            animation-duration: .2s;
            animation-fill-mode: forwards;
            ul {
                background: $white; 
                padding-bottom: 1rem;
                li {height: 48px;}
                a {
                    width: 100%; 
                    height: 100%; 
                    padding-left: 4rem; 
                    box-sizing: border-box; 
                    line-height: 48px;
                    font-weight: 300;
                    &:hover {background: #eee;}
                }
            }
        }
    }
    &.fix {
        background-color: $white;
        .menu {background: $white;}
    }
    .menu-toggle.toggle02+.menu {
        animation-name: menu-down;
    }
    .menu-toggle.toggle03+.menu {
        animation-name: menu-up;
    }
}

//mo cta 마지막에 진행
#moblie-cta {display: none;}
#main .pc-cta {display: none;}

section {
    @include flex;
    flex-direction: column;
    padding: 8rem 0; 
    box-sizing: border-box; 
    overflow: hidden; 
    text-align: center;
    background-color: $white;
    min-height: 50vh;
    h3 {
        font-weight: 600; 
        font-size: 2.4rem;
    }
    h3+p, p+a {margin-top: 3rem;}
    a {
        color: #3182f6; 
        font-weight: 700;
        &.plus::after{
            content:">";
            display: inline-block;
            color: $ci-color;
            margin-left: 1rem;
        }
        &.round-btn { 
            padding: 1rem 2rem; 
            text-align: center;
            border-radius: 3rem; 
            border: 1px solid #333; 
            font-weight: 600;
            background-color: transparent;
            display: inline-block; 
            color: #333; 
            transition: background-color .2s;
            &:hover {
                background-color: #333; 
                color: $white;
                &::after {color: $white;}
            }
            &::after {color: #333;}

        }
    }
    .remark {font-size: 1.4rem;}
}

#main {
    background: {
        image: url(../images/hero-handset-new.jpg);
        size: cover; 
        repeat: no-repeat; 
        position: center center;
    }
    width: 100%; 
    height: 100vh; 
    position: relative; 
    padding: 0;
    justify-content: flex-start;
    h2 {
        font-size: 3.2rem; 
        font-weight: 700; 
        text-align: center; 
        padding-top: 8rem;
    }
    >a {
        width: 2rem; 
        animation: cta-animation 1s ease-in-out infinite;
        position: absolute; 
        left: calc(50% - 1rem); 
        bottom: 2rem;
        img {
            width: 100%; 
            height: auto;
        }
    }
}

#award {
    background: {
        image: url(../images/confetti.png); 
        size: 90%;
        position: center bottom; 
        repeat: no-repeat;
        color: #fafafa;
    }
    ul {
        @include center;
        width: 90%; 
        display: flex; 
        justify-content: center;
        a {
            box-sizing: border-box; 
            padding: .5rem;
            &:hover img {opacity: 1;}
            img {
                opacity: .7; 
                transition: .2s
            }
        } 
    }
    p {
        margin-top: 4rem;
        span {
            font-size: 3rem;
            span {display: inline-block;}
        }
    }
    a.plus {
        margin: 0;
        border-color: #768399;
        color: #768399; 
        &::after {color: #768399;}
        &:hover {
            border-color: #303d51;
            background-color: #303d51;
            color : $white;
            &::after {color: $white;}
        }
    }
    .remark {margin-top: 5rem;}
}

#toss-card {
    padding-top: 0;
    background: linear-gradient(180deg, rgba(239,240,240,1) 0%, rgba(255,255,255,1) 100%) ;
}

#account {
    overflow: inherit;
    .wrap {
        width: 100%;
        &>div {
            @include center;
            @include flex;
            border-radius: 15px;
            padding: 2rem; 
            margin-top: 2rem;
            width: 60%;
            box: {
                sizing: border-box;
                shadow: 0px 4px 26px rgba(0, 0, 0, .1);
            }
            .money {font-weight: 600;}
            figure {max-width: 2.4rem;}
        }
        &>div.pc {display: none;}
    }
}

section[data-tab="true"] {
    .img-area  {
        position: relative; 
        width: 100%;
        height: 70vw;
        overflow: hidden;
        margin-left: -3vw;
        figure {
            img {
                position: absolute;
                top: 0;
                left: calc( 50% - 35vw );
                z-index: 10;
                width: 76vw;
            }
        }
        .inner-contents {
            position: absolute;
            top: 11vw;
            left: calc(50% - 17.5vw);
            width: 40vw;
            height: 100%;
            overflow: hidden;
            img {
                width: 40vw;
                z-index: -1; 
                transition: right .2s, left .2s;
                position: absolute; 
                top: 11.5vw;
                left: -50vw;
                &.on {
                    top: 4px;
                    left: 0;
                    z-index: 1;
                }
            }
        }
    }
    .tab-btn {
        @include center;
        ul {
            width: 50vw; 
            min-width: 350px;
            display: flex;
            margin: 0 auto;
            li {
                width: 33%;
                text-align: center;
                padding: .5rem; 
                box-sizing: border-box; 
                color: #888; 
                transition: color .2s, font-weight .2s;
                height: 4rem;
                line-height: 3rem;
                cursor: pointer;
                &::after {
                    content: "";
                    display: block;
                    width: 0%;
                    height: 2px;
                    background-color:#444;
                    transition: width .2s;
                    margin-top: 1rem;
                }
                &.on {
                    color: #444; 
                    font-weight: 500;
                    width: 33%;
                }
                &.on::after {width: 100%;}
                &:hover {
                    color: #444;
                    font-weight: 500;
                }
            }                
        }
    }
    .tab-message {
        @include center;
        width: 90%;
        text-align: center; 
        margin-top: 3rem;
        display: none;
        &.on{display: block;}
        &+a {margin-top: 3rem;}
    }
}

#toss-pay .video-wrap {
    overflow: hidden; 
    width: 80%; 
    margin: 0 auto; 
    position: relative; 
    height: 410px;
    margin: 5rem 0;
    img {
        width: 364px;
        position: absolute;
        top: 5px;
        left: 22px;
        z-index: 1;
    }
    video{
        position: absolute;
        top: 61px;
        left: -1px;
        width: 100%;
        height: 100%;
    }
}

#card .wrap {
    width: 100%;
    figure {
        max-width: 4rem;
        width: 30%;
    }
    .box {
        @include flex;
        width: 60%;
        margin: 2rem auto 0;
        border-radius: 15px;
        padding: 2rem 4rem; 
        box: {
            sizing: border-box;
            shadow: 0px 4px 26px rgba(0, 0, 0, .1);
        }
        .text-box {
            text-align: left;
            width: 70%;
        }
    }
}

#footer {
    background: #f9fafb; 
    padding: 5rem;
    h3 {
        font-weight: 500; 
        margin-bottom: 1.5rem;
    }
    .service ul {
        margin-top:3rem;
        &:first-child {margin-top:0;}
        li {
            line-height: 3rem;
        }
    }
    a {
        display: inline;
        font-weight: 300;
        &:hover {text-decoration: underline;}
    }
    .sns-wrap li {
        img {
            transition: opacity .2s; 
            opacity: .7;
        }
        &:hover img {opacity: 1;}
    }
    .info {
        margin-top: 3rem;
        ul {margin-top: 3rem;}
        & a, & span {
            line-height: 3rem;
        }
        & b, & a, & span {font-size: 1.4rem;}
    }
    .sns-wrap {
        display: flex;
        li {
            margin-left: 1rem; 
            width: 35px; 
            height: 35px;
            &:first-child {margin-left: 0rem;}
        }
    }
}

@mixin pc {
	@media screen and (min-width: #{$desktop}) {
		@content;
	}
}
@mixin tablet {
	@media screen and (min-width: #{$tablet}) {
		@content;
	}
}
@mixin mobile {
	@media screen and (max-width: #{$mobile}) {
		@content;
	}
}
@include tablet{
    header { 
        .wrap {
            max-width: 1000px;
            margin: 0 auto;
            .logo {
                left: 10%;
                background-image: url(../images/logo-white.svg);
            }
            .menu-toggle {display: none;}
            .menu {
                margin: 0;
                position: inherit;
                right: 3%;
                max-width: 500px;
                ul {
                    visibility: visible;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 0;
                    background-color: transparent;
                    li {
                        height: 60px;
                        a {
                            padding: 0 1rem; 
                            line-height: 60px;
                            &:hover {background: transparent;}
                        }
                    }
                }
            }
        }
        &.fix {
            .logo {background-image: url(../images/logo.svg);}
        }
    }

    #moblie-cta {display: none;}

    section {
        min-height: 80vh;
        text-align: left;
        h3 {
            font-size: 5rem;
            &+p {font-size: 2rem;}
        }
    }

    #main {
        @include flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-image: url(../images/hero.png);
        h2 {
            color: #fff; 
            font-size: 5rem; 
            text-align: left;
            padding-top: 0;
            width: 80%;
            max-width: 1000px;
            margin: 0 auto;
        }
        .pc-cta {
            display: flex; 
            align-items: flex-end;
            height: 7rem;
            margin: 2rem auto 0;
            width: 80%;
            max-width: 1000px;
            li {
                margin-left: 2rem; 
                transition: margin .2s;
                &:first-child {margin-left: 0rem;}
                &:hover{margin-bottom: .2rem;}
                a {
                    color: #fff; 
                    font-size: 1.8rem; 
                    border: 1px solid #fff; 
                    border-radius: .5rem;
                    padding: 1rem 2rem; 
                    display: flex; 
                    align-items: center;
                    img {
                        width: auto;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    .flex-box {
        display: flex;
        flex-direction: initial;
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }

    #award {
        & >* {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
        }
        ul {
            justify-content: left;
            width: 80%;
            li {
                width: 33%;
                max-width: 200px;
            }
        }
        p {
            text-align: left;
            margin-top: 5rem;
            &.remark {margin-top: 7rem;}
            span {font-size: 5rem;}
        }
    }

    #toss-card {
        background-color: #f0f1f1;
        flex-direction: inherit;
        padding: 0;
        overflow: hidden;
        position: relative;
        height: 752px;
        min-height: initial;
        figure {
            position: absolute;
            top: 0;
            width: 1330px;
            height: 752px;
            right: 31vw;
        }
        .text-box {
            text-align: left;
            position: inherit;
            width: 50%;
            margin-left: 50%;
        }
    }

    #account {
        .text-box{
            width: 100%;
        }
        .wrap >div {
            width: 80%;
            margin-top: 30px;
            &.pc {display: flex}
        }
    }

    section[data-tab="true"] {
        @include flex;
        @include center;
        flex-direction: inherit;
        width: 80%;
        max-width: 1000px;
        & >div{width: 50%;}
        .img-area {
            height: 700px;
            figure {
                img {
                    width: 500px;
                    left: 0;
                }
            }
            .inner-contents {
                top: 78px;
                left: 116px;
                max-width: 260px;
                img {
                    width: 100%;
                    &.on {top: -3px;}
                }
            }
        }
        .inner {
            & >*{margin-top: 2vw;}
            & >*:first-child{margin-top: 0;}
            ul {
                width: 100%;
            }
            .message-box {
                span {
                    margin: 0;
                    text-align: left;
                }
            }
        }
    }

    #footer {
        & >div{
            @include center;
            max-width: 1000px;
        }
        padding: 50px;
        .service {
            @include flex;
            justify-content: flex-start;
            align-items: flex-start;
            ul {
                margin-top: 0;
                margin-left: 40px;
                &:first-child {margin-left: 0;}
                li {height: auto;}
            }
        }
        .info .matters {
            @include flex;
            align-items: flex-start;
        }
    }
}

//tab-area pc / mo el따로
//video-wrap html video 공부하고 오기, 반응형
//mixin()