@media all and (min-width:768px) {
    #annoying {
        display: block;
        position: relative;
    }
    #annoying .tab-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50vw;
        overflow: hidden;
    }
    #annoying .tab-area figure img {
        width: 50vw;
        left: 0;
        
    }
    #annoying .tab-area .inner-contents img {
        width: 27vw; 
        top: 7.5vw;
    }
    #annoying .tab-area .inner-contents img.on { left: 11vw;}
    #annoying h3, #annoying .tab-box {
        width: 50%;
        margin-left: 45vw;
    }
}